@tailwind base;
@tailwind components;
@tailwind utilities;

.inputs-default {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  width: 100%;
  font-size: 16px;
  border: 1px solid grey;
  &[type="submit"] {
    cursor: pointer;
    background-color: #00d26a;
    border: none;
    &:hover {
      background-color: #e2ff92;
    }
  }
}
